/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/FAQ/styles.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/

@import "/app/globals.css";

.styles_show__Y7ChU {
    opacity: 1;
    grid-template-rows: 1fr;
}

.styles_hide__ANvyr {
    opacity: 0;
    grid-template-rows: 0fr;
    
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/HoverCard/styles.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
@import "/app/globals.css";



.styles_card__3BMK8 {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
  }
  
  .styles_cover-image__Ym5AH {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .styles_wrapper__yO4BE {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .styles_card__3BMK8:hover .styles_wrapper__yO4BE {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
  
  .styles_wrapper__yO4BE::before,
  .styles_wrapper__yO4BE::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  .styles_wrapper__yO4BE::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  .styles_wrapper__yO4BE::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  
  .styles_card__3BMK8:hover .styles_wrapper__yO4BE::before,
  .styles_wrapper__yO4BE::after {
    opacity: 1;
  }
  
  .styles_card__3BMK8:hover .styles_wrapper__yO4BE::after {
    height: 120px;
  }
  .styles_title__fDNf5 {
    width: 100%;
    transition: transform 0.5s;
  }
  .styles_card__3BMK8:hover .styles_title__fDNf5 {
    transform: translate3d(0%, -50px, 100px);
  }
  
  .styles_character__uaLtT {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  
  .styles_card__3BMK8:hover .styles_character__uaLtT {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
